{% extends "container.twig" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Serial Id</th>
                    <th>Product</th>
                    <th>Warranty</th>
                    <th>Warranty Period Left</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.serialId }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.expired == true ? "Warranty has expired" : "Warramty can still be availed."}}</td>
                    <td>{{product.warrantyLeft}}</td>
                    {% if product.expired == true %}
                        <td>
                            <form action="/customer/products/{{ product.id }}" method="get">
                                <input type="hidden" name="warrantyExpired" value="{{product.expired}}">
                                <input type="submit" value="Info" class="btn btn-info">
                            </form>
                        </td>
                    {% elseif product.expired == false %}
                        <td><a href='/customer/products/{{ product.id }}' class='btn btn-info' role='button'>Submit Ticket</a></td>
                    {% endif %}                  

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}